repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: requirements-txt-fixer
    -   id: mixed-line-ending
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args: ['--autofix']
        exclude: .ipynb
    -   id: check-added-large-files
    -   id: check-merge-conflict
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.6
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
      types_or: [ python, pyi ]
    # Run the formatter.
    - id: ruff-format