name: scikit_mol ci

on: [push, pull_request]

jobs:
  # run pytests for scikit_mol
  tests:
    name: pytest ${{ matrix.os }}::py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10"]
        include:
          # test python version compatibility on linux only
          - os: ubuntu-latest
            python-version: 3.9
          - os: ubuntu-latest
            python-version: 3.8
          - os: ubuntu-latest
            python-version: 3.7
    steps:
      - name: Checkout scikit_mol
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install scikit_mol
        run: python -m pip install -e .[dev]
      - name: Cache tests/data
        uses: actions/cache@v3
        with:
          path: tests/data
          key: ${{ runner.os }}-${{ hashFiles('tests/conftest.py') }}
      - name: Run Tests
        run: pytest --cov=./scikit_mol .

 # deploy scikit_mol to pypi for tagged commits if tests pass
  deploy:
    needs: [ tests ]
    name: deploy to pypi
    runs-on: ubuntu-latest
    # this checks that the commit is a tagged commit
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build
      - name: Build a binary wheel and a source tarball
        run: |
          python -m build .
      # push all tagged versions to pypi.org
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
